.showcase{
    margin-top: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showcasebouquet{
    margin-top: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.showcasebouquet .flowertitle{
    font-family: cursive;
    font-size: 30px;
}
.flowerlist{
    width: 40vw;
    height: auto;
   
    
} 

/* floweritem */

.floweritem{
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgb(0,0,0.2);
    width:300px;
    height: 350px;
    margin-top: 20%;
}
.floweritem:hover{
    box-shadow: 0px 3px 15px rgb(0,0,0.5);
    transition: 0.3% ease-in;
    cursor: pointer;
}
.floweritem div{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.floweritem h1,p{
    margin-left: 20px;
    
    
}
.showcasebtn{
    height: 50px;
    width: 150px;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 10px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.showcasebtn:hover{
    background-color:black;
    border: 1px solid black ;
    color: white;
}
/* floweritem1 */
.showcase .flowertitle1{
    font-family: cursive;
    font-size: 30px;
    margin-top: -10%;
}
.floweritem1{
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgb(0,0,0.2);
    width:300px;
    height: 350px;
    margin-top: 4%;
}
.floweritem1:hover{
    box-shadow: 0px 3px 15px rgb(0,0,0.10);
    transition: 0.10% ease-out;
    cursor: pointer;
}
.floweritem1 div{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.floweritem1 h1,p{
    margin-left: 20px;
    
    
}
